<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <div *ngFor="let u of uni | async">
            <ion-title>{{ u.$key }}</ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div align="center" *ngFor="let t of temp | async">
        <h4>¡Bienvenido Slayer! Unete a uno de los siguientes grupos de la {{ t.Nombre }}</h4>
    </div>
    <br>
    <ion-list>
        <button ion-item *ngFor="let g of group | async" (click)="gotoGroup(g)">
            {{ g.Nombre }} 
            <div item-right>
                ({{ g.CapacidadAct}}/{{ g.CapacidadMax}})
            </div>
    </button>
    </ion-list>

 <!-- ____________________________________Home Principal de Slayer Io____________________________________ -->

    <ion-card>

        <!-- Aquí se podria poner avatar de la entidad-->
     
        <ion-card-content>
            <ion-card-title>
                    <h1 align="center" >Información de Juego</h1>
            </ion-card-title>
            <div  align="center">
                <h2>Objetivo a asesinar</h2>
                <h2><strong>Rocco Tarantino</strong></h2>
                <br>
                <p>Puntaje: 500</p>
                <p>Jugadores Restantes: 12</p>
                <p>Ultimo Jugador asesinado: Asher Kleiman</p>
            </div>
        </ion-card-content>
    </ion-card>


            <ion-fab bottom center>
                <button ion-fab mini (click)="Asesinar()">
                    <ion-icon name="locate"></ion-icon>
                </button>
            </ion-fab>
       <button ion-button outline (click)="signOut()">Salir</button>

</ion-content>