<ion-header>
    <ion-navbar color="google">
        <div *ngFor="let u of uni | async">
            <ion-title>{{ u.$key }}</ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div align="center" *ngFor="let u of uni | async">
        ¡Unete a uno de los siguientes grupos de la {{ u.$key }}!
    </div>
    <br>
    <ion-list>
        <button ion-item *ngFor="let g of group | async" (click)="goToInscripcion(g)">
            {{ g.Nombre }} 
            <div item-right>
                ({{ g.CapacidadAct}}/{{ g.CapacidadMax}})
            </div>
    </button>
    </ion-list>

</ion-content>