<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="CloseModal()">Cerrar</button>
        </ion-buttons>
        <ion-title>Leaderboard_Modal</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ul>
        <div *ngFor="let j of Jugadores_Observable | async" >
        <li *ngIf="Current_User.uid == j.uid || j.muerto; else elseBlock">{{j.Nombre}} {{j.Puntaje}}</li>
        <ng-template #elseBlock><li> Anónimo {{j.Puntaje}}</li></ng-template>
        </div>
    </ul>

</ion-content>